a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

/*박스 사이징 설정*/
* {
  box-sizing: border-box; /* 오페라(Opera) */

  -moz-box-sizing: border-box; /* 파이어폭스(Firefox)*/

  -webkit-box-sizing: border-box; /* 웹킷(Webkit) & 크롬(Chrome) */
}
